<section>
  <div>
    <h1><%= @job.title %></h1>
  </div>
    <dl>
      <dd>Categoria</dd>
        <dt><%= @job.category %></dt>
      <dd>Empresa</dd>
        <dt><%= @job.company %></dt>
      <dd>Descrição</dd>
        <dt><%= @job.description %></dt>
      <dd>Local</dd>
        <dt><%= @job.location %></dt>
    </dl>
    <div>
      <%= link_to "Voltar", root_path, class: "btn btn-primary" %>
    </div>
  </section>
