<section>
  <%= simple_form_for @company do |f| %>
    <%= f.input :name, label: 'Nome'%>
    <%= f.input :location, label: 'Local'%>
    <%= f.input :mail, label: 'Email'%>
    <%= f.input :phone, label: 'Telefone'%>
    <%= f.button :submit, 'Criar Empresa', class: "btn btn-primary" %>
  <% end %>
</section>
