<section>
  <div class="companies">
    <h1><%= @company.name %></h1>
    <div class="list">
      <dl>
        <dt>Local</dt>
          <dd><%= @company.location %></dd>
        <dt>Email</dt>
          <dd><%= @company.mail %></dd>
        <dt>Telefone</dt>
          <dd><%= @company.phone %></dd>
      </dl>
    </div>
  </div>
  <hr>
</section>

<section>
  <div class="jobs">
    <% @jobs.each do |job| %>
      <div>
        <h1> <%= link_to job.title, job %></h1>
        <% if job.featured %>
          <span><strong>Destaque</strong></span>
        <% end %>
      </div>
      <div>
        <%= job.company.name %>
      </div>
      <div>
        <%= job.location %>
      </div>
      <div>
        <%= job.category %>
      </div>
    <% end %>
  </div>
</section>
